@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans KR", "Pretendard", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

@media print {
  .no-print {
    display: none !important;
  }
}
